@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
  --cor-de-fundo-titulo-principal: #F4D03F;
  --background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
  --verde-claro: rgb(0, 255, 0);
  --branco: white;
  --preto: black;
  --botao-ativo: rgb(0, 88, 0);
  --botao-inativo: rgb(0, 51, 0);
  --texto-fundo: rgb(0, 28, 0);
}

html,
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: var(--preto);
  background: rgb(254, 255, 216);
  background: linear-gradient(90deg, rgba(254, 255, 216, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(254, 255, 216, 1) 100%);
}

header {
  color: black;
  background-color: white;
  padding: 10px 0px;
}

.caixa {
  position: relative;
  margin: 0 auto;
  flex-wrap: wrap;
}

.caixa h1 {
  font-size: 25px;
  color: rgb(0, 69, 0);
  padding-left: 85px;
  padding-bottom: 29px;
}

.caixa ul {
  padding-right: 85px;
}

nav {
  position: absolute;
  top: 20px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(138, 59, 125);
  text-decoration: underline;
}

.titulo-principal {
  font-size: 23px;
  color: white;
  background-color: var(--cor-de-fundo-titulo-principal);
  background-image: var(--background-image);
  flex-wrap: wrap;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 5px;
  text-shadow: #FC0 1px 0 10px;
}

h1 {
  opacity: 0;
  /* Inicialmente invisível */
  transform: translateY(-50px);
  /* Posição inicial acima */
  animation: titleEntrance 1s forwards;
  /* Animação de entrada */
}

/* Animação de entrada */
@keyframes titleEntrance {
  to {
    opacity: 1;
    /* Torna o título visível */
    transform: translateY(0);
    /* Retorna à posição original */
  }
}

h2 {
  text-align: center;
  padding: 20px;
}

.titulo,
.efeito-no-conteudo,
.efeito-na-imagem1,
.efeito-na-imagem2,
.efeito-na-imagem3,
.efeito-na-imagem4 {
  visibility: hidden;
}

.fenaahs {
  padding: 20px;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
}

.FIciencias {
  padding: 20px 0 0 0;
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
  color: var(--branco);
  background-color: #aaede1;
  background-image: linear-gradient(0deg, #57dac2 0%, #55c1b3 50%, #00a98ad2 100%);
}

.logo-fenaahs {
  width: 60%;
}

.logo-ficiencias {
  width: 50%;
}

p {
  padding: 20px;
}

iframe {
  padding: 40px;
}

.imagens-container {
  display: flex;
  justify-content: center;
  /* Centraliza o conjunto de figuras no container */
  gap: 5px;
  /* Reduz o espaço entre as figuras */
}

.imagens-container figure {
  text-align: center;
  /* Centraliza o texto das legendas */
}

.imagens-premiacao {
  width: 350px;
  height: auto;
}

figcaption {
  font-size: 15px;
  text-align: center;
}

.rodape {
  font-size: 18px;
  padding: 40px 0;
  text-align: center;
  background: rgb(48, 96, 52);
  color: white;
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px 0 0;
  padding: 10px;
}

/* ESTILIZAÇÃO DO MENU-MOBILE */
.caixa-mobile {
  background-color: rgba(0, 53, 0, 0.711);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100%;
  height: 0;
  z-index: 10;
  visibility: hidden;
  transition: 0.5s;
  overflow: hidden;
}

.caixa-mobile nav a {
  color: white;
  display: block;
  padding: 20px 30px;
  width: 100%;
}

.caixa-mobile nav a:hover {
  background-color: rgb(134, 134, 0);
}

#botao-menu {
  background: transparent;
  width: 50px;
  height: 50px;
  outline: none;
  cursor: pointer;
  border: 5px solid var(--botao-inativo);
  border-radius: 2px;
  transition: 0.2s;
  display: none;
}


.linha {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: var(--botao-inativo);
  display: block;
  margin: 5px auto;
  transform-origin: center;
  transition: 0.2s;
}

#botao-menu.ativar {
  border: 5px solid red;
}

#botao-menu.ativar .linha:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
  background-color: red;
}

#botao-menu.ativar .linha:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
  background-color: red;
}

#botao-menu.ativar .linha:nth-child(2) {
  width: 0;
}

@media screen and (max-width: 1020px) {

  /* CAÇALHO */
  .caixa {
    display: none;
  }

  /* TITULO PRINCIPAL*/
  .titulo-principal h1 {
    font-size: 25px;
  }

  /* SEGUNDO TÍTULO */
  h2 {
    font-size: 18px;
  }

  /* AJUSNTANDO AS COLUNAS */
  .imagens-container {
    flex-direction: column;
  }

  iframe {
    width: 310px;
    height: 200px;
  }

  /* IMAGENS */
  .imagens-premiacao {
    width: 100%;
  }

  .logo-fenaahs {
    width: 100%;
  }

  .logo-ficiencias {
    width: 80%;
    padding: 20px;
  }

  /* MENU */
  .caixa {
    display: none;
  }

  .caixa-mobile.abrir {
    visibility: visible;
    height: calc(100vh - 50px);
  }

  #botao-menu {
    display: block;
  }

  .caixa-mobile nav {
    position: absolute;
    top: 20px;
    left: 0;
  }

}