@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
  --cor-de-fundo-titulo-principal:  #F4D03F; 
  --background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
  --verde-claro: rgb(0, 255, 0);
  --branco: white;
  --preto: black;
  --botao-ativo: rgb(0, 88, 0);
  --botao-inativo:rgb(0, 51, 0);
  --texto-fundo: rgb(0, 28, 0);
}

html, body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: var(--preto);
  background: var(--branco);
}

header {
  color: black;
  background: white;
  padding: 10px 0px;
}

.caixa {
  position: relative;
  margin: 0 auto;
  flex-wrap: wrap;
}

.caixa h1 {
  font-size: 25px;
  color: rgb(1, 101, 1);
  padding-left: 85px;
}

.caixa ul {
  padding-right: 85px;
}

nav {
  position: absolute;
  top: 20px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(138, 59, 125);
  text-decoration: underline;
}

h1 {
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(-50px); /* Posição inicial acima */
  animation: titleEntrance 1s forwards; /* Animação de entrada */
}

/* Animação de entrada */
@keyframes titleEntrance {
  to {
    opacity: 1; /* Torna o título visível */
    transform: translateY(0); /* Retorna à posição original */
  }
}

h2 {
  text-align: center;
  padding: 16px 0;
  font-size: 32px;
  font-family: "Chakra Petch", sans-serif;
}

.titulo-principal {
  font-size: 23px;
  color: white;
  background-color: var(--cor-de-fundo-titulo-principal);
  background-image: var(--background-image);
  flex-wrap: wrap;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo-principal h1 {
  padding-top: 190px;
  padding-bottom: 50px;
}

.apresentacao h2 {
  text-align: right;
  padding-right: 10px;
  font-size: 22px;
  padding: 1px;
}

.local {
  padding-top: 30px;
  padding-bottom: 120px;
  text-align: center;
  font-size: 14px;
}

.Introducao {
  padding: 50px;
}

.Introducao li{
  font-size: 22px;
  padding: 5px;
}

.R {
  padding: 20px;
  text-align: center;
}

.R p{
  font-size: 18px;
}

.botoes {
  text-align: center;
  padding: 10px;
}

.botao {
  font-size: 20px;
  background-image: linear-gradient(to right, #348F50 0%, #56d3a5  51%, #348F50  100%);
  margin: 10px;
  padding: 5px 5px;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;            
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  border: white;
}

.botao:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}

img {
  max-width: 400px;
  max-height: 350px;
  margin: auto; 
}

.agenda2030 {
  font-family: "Chakra Petch", sans-serif;
  background-color: var(--preto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 20px 0;
}

.titulo-agenda {
  font-family: "Chakra Petch", sans-serif;
  color: var(--branco);
  text-align: center;
  width: 100%;
  font-size: 32px;
}

.titulo-agenda span {
  color: var(--verde-claro);
}

.botao-agenda {
  font-family: "Chakra Petch", sans-serif;
  background-color: var(--botao-inativo);
  color: var(--branco);
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 18px;
  align-items: center;
  width: 100%;
  border-bottom: 4px solid var(--botao-ativo);
  border-left: 2px solid var(--botao-ativo);
  border-right: 2px solid var(--botao-ativo);
  border-top: none;
}

.botao-agenda:first-child {
  border-radius: 40px 40px 0 0;
}

.botoes-agenda {
  display: block;
}

.botao-agenda.ativo {
  background-color: var(--botao-ativo );
  border-bottom: 4px solid var(--verde-claro);
}

.abas-textos {
  background-color: var(--texto-fundo);
  color: var(--branco);
  padding: 40px;
  border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo {
  display: block;
}

.aba-conteudo {
  display: none;
}

.aba-couteudo-titulo-principal {
  font-size: 28px;
  text-align: center;
}

.aba-couteudo-titulo-secundario {
  font-size: 24px;
  text-align: center;
  color: var(--verde-claro);
}

.contador {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.contador-digito {
  padding: 0 16px;
  text-align: center;
  min-width: 100px;
}

.contador-digito-numero {
  font-size: 80px;
  margin: 0;
}

.contador-digito-texto {
  color: var(--verde-claro);
  font-size: 20px;
}

@media screen and (min-width: 768px) {
.botoes-agenda {
    display: flex;
  }
.botao-agenda:first-child {
  border-radius: 40px 0 0 0;
}
.botao-agenda:last-child {
  border-radius: 0 40px 0 0;
}
}

.Objetivos {
 padding: 50px;
}

.Objetivos li {
font-size: 22px;
}

.Metodologia {
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 30px;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.img-metodologia {
  max-width: 300px;
  margin-right: 20px; /* Espaço entre a imagem e a lista */
}

.conteudo-metodologia {
  display: flex; /* Flexbox aplicado aqui para alinhar conteúdo */
  justify-content: space-between; /* Espaço entre a lista e a imagem */
  align-items: flex-start; /* Alinhamento no topo */
  margin-bottom: 30px; /* Espaçamento entre blocos de conteúdo */
  padding: 20px;
}

.Metodologia ul {
  text-align: left; /* Alinhar o texto da lista à esquerda */
  padding: 0;
  margin: 0;
  list-style: none;
}

.Metodologia li {
  font-size: 18px;
  margin-bottom: 10px;
}

.jogo-fisico, .jogo-digital, .site {
  display: flex;
  flex-direction: row; /* Garantir que a imagem e o texto fiquem lado a lado */
  justify-content: center;
  align-items: flex-start;
  width: 100%; /* Garantir que o conteúdo use toda a largura disponível */
}

.conclusao {
  padding: 50px;
}

.Resultados {
  padding: 60px;
  width: 100%; /* A largura da div se ajustará ao tamanho da tela */
}

.Resultados li {
  font-size: 20px;
  padding: 5px;
}

.Resultados a {
  color: rgb(19, 93, 0);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
}

.titulo-grafico {
  padding: 15px;
}

.estatisticas {
  font-size: 20px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;    /* Centraliza verticalmente */
  height: 40vh;          /* Opcional, ajusta a altura da div */
  padding: 0px;
}

#meuGrafico {
  max-width: 350px;   /* Largura do gráfico */
  max-height: 250px;  /* Altura do gráfico */
}

.imagens-conclusão img {
  display: block;
  padding: 1px;
  max-width: 300px;
  max-height: 450px;
}

.imagens-conclusao {
  font-size: 18px;
  padding: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinhar verticalmente */
  gap: 0px; /* Espaçamento entre texto e imagem */
  padding: 0px;
}

blockquote {
  padding: 0px;
  }

.carousel-container {
  position: relative;
  max-width: 700px;
  margin: auto;
  text-align: center;
}
  
.carousel-controls {
  position: absolute;
  top: 50%;
  font-size: 70px;
  color: black;
  padding: 16px;
  cursor: pointer;
  transform: translateY(-50%);
  user-select: none;
}
  
  .carousel-controls.left {
    left: 0px;
    padding: 0px 0px;
  }
  
  .carousel-controls.right {
    right: 0px;
    padding: 0px 0px;
  }
  
  blockquote {
    display: none;
    text-align: center;
  }
  
  blockquote.active {
    display: block;
  }
  
  .content img {
    max-width: 100%;
    height: auto;
  }
  
  figcaption {
    font-style: italic;
    margin-top: 8px;
    font-size: 18px;
    text-align: center;
  }

  .acessar-jogo {
    background-image:url(Fundo\ Jogo.jpg);
    background-size: cover; /* Ajusta a imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    color: white; /* Define a cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px; /* Adiciona espaço ao redor do texto */
    height: 800px; /* Define a altura da div */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: normal;
  }

 .acessar-jogo ul {
    font-size: 25px;
    color: white;
    padding-top: 400px;
 }

 .acessar-jogo h2 {
  font-size: 50px;
  font-family: "Merriweather", serif;
 }

 .acessar-jogo a {
  color: var(--verde-claro);
 }

.rodape {
  font-size: 18px;
  padding: 40px 0;
  text-align: center;
  background: rgb(48, 96, 52);
  color: white;
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px 0 0;
  padding: 10px;
}